<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aktualizacja Produktu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .option-green { background-color: #28a745; color: white; font-weight: bold; }
        .option-red { background-color: #dc3545; color: white; font-weight: bold; }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">Aplikacja Magazynowa</a>
        <a class="navbar-brand" href="#"></a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('add_product') }}">Dodaj nowy produkt</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('update_product') }}">Zaktualizuj produkt</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('inventory') }}">Stan Magazynu</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">WYLOGUJ</a></li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        <h1>AKTUALIZUJ PRODUKT</h1>
        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
        {% endif %}
        <form action="{{ url_for('update_product') }}" method="post" class="needs-validation" novalidate>
            <div class="form-group">
                <label for="barcode">Kod kreskowy:</label>
                <input type="text" class="form-control" id="barcode" name="barcode" required>
                <div class="invalid-feedback">Please enter a barcode.</div>
            </div>
            <div class="form-group">
                <label for="quantity">Ilość:</label>
                <input type="number" class="form-control" id="quantity" name="quantity" required>
                <div class="invalid-feedback">Please enter a quantity.</div>
            </div>
            <div class="form-group">
                <label for="date_updated">Data aktualizacji:</label>
                <input type="datetime-local" class="form-control" id="date_updated" name="date_updated" required>
                <div class="invalid-feedback">Please enter the date and time of the update.</div>
            </div>

            <div class="form-group">
                <label for="operation">Operacja:</label>
                <select class="form-control" id="operation" name="operation" required>
                    <option value="none">None</option>
                    <option value="add" class="option-green">DODAJ</option>
                    <option value="remove" class="option-red">USUŃ</option>
                </select>
                <div class="invalid-feedback">Please select an operation.</div>
            </div>
            <button type="submit" class="btn btn-primary">AKTUALIZUJ</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
